<h1><%= @restaurant.name %></h1>
<p><strong>Address:</strong><%= @restaurant.address %></p>
<p><strong>Call Us:</strong><%= @restaurant.phone_number %></p>
<p><em>Category:</em><%= @restaurant.category %></p>
<%= link_to 'Back to List', restaurant_path %> |
<%= link_to 'Leave a Review', new_restaurant_review_path(@restaurant) %>
<br>
<h4>People said...</h4>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>

